
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>contact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body style="background-image: url(../static/image/churn\ contact.jpg);background-size: cover; ">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>Crop Recommendation</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"><b>Home</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"><b>About</b></a>
            </li>
            <li class="nav-item"></li>
              <a class="nav-link active" aria-current="page" href="/predict"><b>predict</b></a>
            </li>
            <li class="nav-item"></li>
              <a class="nav-link active" aria-current="page" href="/contact"><b>contact</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
           
     <div class="card text-bg-dark" style="background-image: url(../static/image/crop\ 2.png);
      height: 550px; background-size:cover;">
      <h1 style="margin-top: 150px; color: rgb(45, 21, 21); font-family: cooper black;"><center>Get IN Touch</center></h1>
      <h5 style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>Get in touch with our team to know more about our website </center></h5>
    </div>
      
    
    <div>
      <form>
           <h3 style="margin-top: 50px; color:rgb(13, 13, 14);margin-left: 100px;
           font-family: elephant;">Lets Start The Conversation</h3>
        <div class="mb-3" style="width: 450px;
        margin-left: 100px;
        border: 1px;
        height: 550px;
        margin-top: 50px;">
          <label style="color: rgb(13, 13, 13);" >Name</label><br>
          <input type="text" name="uname" placeholder="" style="border: 0.2px solid rgb(235, 229, 229);width: 370px;border-radius: 10px;"><br><br>
          <label style="color: rgb(9, 9, 9);" >Email Address</label>
          <label style="color: rgb(21, 20, 20); margin-left: 100px;"> Phone Number</label><br>
          <input type="email" name="umail" placeholder="" style="border: 1px solid rgb(228, 221, 221);border-radius: 10px;">
          
          <input type="tel" name="utell" placeholder="" style="border: 1px solid rgb(244, 239, 239);border-radius: 10px; margin-left:7px;"><br><br>
          <label style="color: rgb(18, 17, 17);">Zip Code</label><br>
          <input type="number" name="uzip" placeholder=""  style="border: 1px solid rgb(235, 228, 228);width: 380px; border-radius: 10px;"><br><br>
          <label style="color: rgb(13, 13, 13);">Message</label><br>
          <input type="text" name="umip" placeholder=""   style="border: 1px solid rgb(230, 220, 220);
          width: 380px; row-gap: 3; height: 70px; border-radius: 10px;">
           <br><br>
        <button type="submit" class="btn btn-primary" style= 
        "border: 1px;
        background-color: rgb(46, 70, 151);border-radius: 20px;">Submit</button>
        </div>
      </form>
      
          <div >
          <div style="width: 450px;
          margin-left: 800px;
          border: 1px ;
          margin-top: -750px;
          height: 700px;">
           <h3 style="margin-top: 50px; color:rgb(20, 20, 20);margin-left: 25px;

           margin-top:120px;font-family: elephant;">Contact Us</h3> <br> 
           <p style="color:rgb(18, 17, 17);font-size: 18px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">For questions, technical assistance, or collaboration 
            opportuniesnvia the contact information provided.</p><br><br>

            <header>
               <img src="../static/image/call.webp" alt="logo" width="80px" height="45px">
               <p style="color: rgb(25, 24, 24); margin-left: 80px;
               margin-top: -40px;">+91 9945424386</p><br>

<img src="../static/image/email.jpg" alt="logo" width="60px" height="45px" style="margin-left: 10px;">
<p style="color: rgb(7, 7, 7); margin-left: 83px;
margin-top: -40px;">saba@gmail.com</p><br>

<img src="../static/image/location.png" alt="logo" width="60px" height="45px" style="margin-left: 10px;">
<p style="color: rgb(11, 10, 10); margin-left: 83px;
margin-top: -40px;">Mangalore, India</p><br>

            </header>

          </div>
    </div>
    
      
      <!---footer-->
      <nav class="navbar sticky-top bg-body-tertiary">
        <div class="container-fluid">
        <p style="margin-left: 600px;
        font-weight: bold;
        font-size:larger ;">All Right Reserved 2024</p>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>